@model User
@using SIS.Data;
@using SIS.Helper;
@using Microsoft.AspNetCore.Identity;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@inject RoleManager<IdentityRole> roleManager;*@
@inject RoleHelper roleHelper;
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "بيانات المستخدم";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roles = roleHelper.ListRoles();
    var Role_drop = roleHelper.RenderRolesList();
}

 <div class="row ">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="border-bottom pb-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="mb-0">
                                    <h1 class="mb-1 h2 fw-bold">@ViewData["Title"]</h1>
                                    <!-- Breadcrumb -->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">الإدارة</a></li>
                                            <li class="breadcrumb-item"><a href="@Url.Action("Index")">بيانات المستخدمين</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">إضافة/ تعديل</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div>
                                    <a href="@Url.Action("Index")" class="btn btn-success me-1">رجوع</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   

<div class="app-content content">
    <div class="content-area-wrapper">
        <div class="col-lg-12 col-md-12 col-12">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            @if (TempData["error"] != null)
            {
                <p class="alert alert-danger" id="successMessage">@TempData["error"]</p>
            }
             <div>
                            <!-- card -->
                            <div class="card smooth-shadow-md mb-4">
                                <div class="card-header border-bottom px-4 py-3">
                                    <h4 class="mb-0"></h4>
                                </div>
                                <!-- card body -->
                                <div class="card-body">
                                    <form asp-action="Save" asp-controller="User" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            
                             <div class="row">
                                       
                                        
                                         <div class="row">
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 1 -->
                                             <label asp-for="FullName" class="form-label" for="email"></label>
                                    <input  class="form-control " asp-for="FullName" value="@Model.FullName">
                                    <span asp-validation-for="FullName" class="text-danger"></span>

                                        </div>
                                        
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 2 -->
                                   <label asp-for="Email" class="form-label" for="email"></label>
                                    <input  class="form-control " asp-for="Email" value="@Model.Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                           </div>
                            <div class="row">
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 1 -->
                                             <label asp-for="Country" class="form-label" for="email"></label>
                                    <input  class="form-control " asp-for="Country" value="@Model.Country">
                                    <span asp-validation-for="Country" class="text-danger"></span>

                                        </div>
                                        
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 2 -->
                                   <label asp-for="City" class="form-label" for="email"></label>
                                    <input  class="form-control " asp-for="City" value="@Model.City">
                                    <span asp-validation-for="City" class="text-danger"></span>

                                </div>
                                <div class="row">
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 1 -->
                                             <label asp-for="HomeTown" class="form-label" for="email"></label>
                                    <input  class="form-control " asp-for="HomeTown" value="@Model.HomeTown">
                                    <span asp-validation-for="HomeTown" class="text-danger"></span>

                                        </div>
                                        
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 2 -->
                                   <label asp-for="PhoneNumber" class="form-label" for="email"></label>
                                    <input  class="form-control " asp-for="PhoneNumber" value="@Model.PhoneNumber">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                </div>
                           </div>                                       
                             <div class="row">
                                  <div class="mb-3 col-md-12">
                                            <!-- Field 1 -->
                                             <label asp-for="Address" class="form-label" for="email"></label>
                                    <input  class="form-control " asp-for="Address" value="@Model.Address">
                                    <span asp-validation-for="Address" class="text-danger"></span>

                                        </div>   
                           </div>   
                            <div class="row">
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 1 -->
                                             <label class="form-label" for="Password">كلمة المرور</label>
                                    <input type="password"  class="form-control" name="Password" value="@Model.PasswordHash">
                                    
                                        </div>
                                        
                                  <div class="mb-3 col-md-6">
                                            <!-- Field 2 -->
                                   <label for="ConfirmPassword" class="form-label" >إعادة كلمة المرور</label>
                                    <input  type="password" class="form-control " id="ConfirmPassword" name="ConfirmPassword" value="@Model.PasswordHash">
                                    
                                </div>
                                @*<div class="mb-3 col-md-6">
                                            <!-- Field 2 -->
                                   <label for="ConfirmPassword" class="form-label" >المجموعة</label>
                                    <select name="userRol" class="form-select">
                                        <option value="">إختر</option>
                                                @foreach(var el in roles)
                                                {
                                                     <option value="@el.Id">@el.Name</option>
                                                }
                                            </select>
                                </div>*@
                                <div class="mb-3 col-md-6">
                                            <!-- Field 2 -->
                                   <label for="userRole" class="form-label" >المجموعة</label>
                                   @Html.DropDownList("userRole",(SelectList)Role_drop,"اختر المجموعة",new{@id="userRole",@class="form-select"} )
                                  
                                </div>
                           </div>  
                                </div>
                         
                             
                            
                            <div class="d-flex justify-content-end mt-2">
                                
                                <button type="submit" class="btnaddtenant btn btn-success  float-right">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span> حفظ
                                </button>
                            </div>
                                    </form>
                                   
                                   
                                   
                                    
                                       
                                      
                                    </div>
                                   
                                    
                                </div>
                            </div>
                            </div>



           
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}